.App {
  background-image: url('/rawpixel-604757-unsplash.jpg');
  min-height: 100vh;
}

.game{
  overflow: auto;
  padding: 2%;
}

.deck {
  background-color: #a7bfe8;
  width: 125px;
  height: 175px;
  border-radius: 7px;
  margin-left: 30%;
}

.piles{
  clear: left;
}

.pile{
  background-color: #314566 ;
  float: left;
  width: 23%;
  margin: 1%;
}

.SelectedPile{
  background-color: #b9c0cc ;
  float: left;
  width: 23%;
  margin: 1%;
}

.PileCard{
  background-color: #a7bfe8;
  width: 40%;
  border-radius: 7px;
  width: 125px;
  height: 175px;
  float: left;
  margin-left: 6.5%;
  margin-bottom: 6%;
}

.Hand{
  background-color: #314566;
  padding: 1%;
  overflow: auto;
  width: 75%;
  margin-left: 10%;
}

.HandCard{
  background-color: #a7bfe8;
  width: 125px;
  height: 175px;
  float: left;
  margin: 6px;
  border-radius: 7px;
}

.SelectedHandCard{
  background-color: #5a5e66;
  width: 125px;
  height: 175px;
  float: left;
  margin: 6px;
  border-radius: 7px;
}

.HiddenHandCard{
  display: none;
}

.MakeMove{
  padding: 2%;
}

.HideMakeMove{
  display: none;
}

.BadMove{
  padding: 2%;
}

.HideBadMove{
  display: none;
}

.EndTurn{
  padding: 2%;
}

.HideEndTurn{
  display: none;
}

.GameOver{
  padding: 2%;
}

.HideGameOver{
  display: none;
}

.NavBar{
  text-align: center;
  background-color: #837C76;
  padding-bottom: 2%;
}

.NavBar a{
  width: 23%;
  margin: 1%;
  color:  #00004d;
  text-decoration: none;
}

/* mouse over link */
.NavBar a:hover {
  color: hotpink;
  text-decoration: none;
}

.Root{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding: 2%;
  background-color: #BBB6B2;
  opacity: .8;
}

.Root a{
  color:  #58639B;
  text-decoration: none;
  font-weight: bold;
}

.Root p{
  width: 90%;
  margin-left: 5%;
  font-weight: bold;
}

.Root p.about{
  width: 90%;
  margin-left: 5%;
}
.Root h2{
  color:  #00004d;
  font-weight: bold;
}

.NewGame{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding: 2%;
  background-color: #BBB6B2;
  opacity: .8;
}
