.App {
  background-image: url('/rawpixel-604757-unsplash.jpg');
  min-height: 100vh;
}

.game{
  overflow: auto;
  padding: 1%;
  background-color: rgba(187, 182, 178, .8);
  margin-top: 1%;
  margin-right: 5%;
  margin-left: 5%;
}

.HeaderAndDeck{
  text-align: center;
  float: left;
  margin-top: 3%;
  margin-left: 5%;

}

.GameH1{
  margin-left: 5%;
  margin-bottom: 10%;
  width: 15%;
  height: 5%;
}

/*.deck {
  padding: 2%;
  margin-left: 0%;
  margin-right: 2%;
  text-align: center;
  float: left;
  margin-top: 10%;
}*/

.deckCard {
  background-color: #b3e6ff;
  width: 100px;
  height: 150px;
  border-radius: 7px;
  margin: auto;
  font-weight: bold;
  font-size: 12pt;
  float: left;
}

.piles{
  /*clear: left;*/
  /*text-align: center;*/
  overflow: auto;
  float: left;

}

.piles h3{
  margin-top: .3%;
  margin-bottom: .5%;
  margin-left: 10%;
}

.pile{
  background-color: #837C76 ;
  float: left;
  width: 15%;
  margin: 1%;
  padding: 1%;
}

.pile p{
  /*clear: left;*/
  padding: 1%;
}

.SelectedPile{
  background-color: rgba(255, 105, 180, .6);
  float: left;
  width: 15%;
  margin: 1%;
  padding: 1%;
}

.SelectedPile p{
  clear: left;
  padding: 1%;
}

.PileCard{
  background-color: #b3e6ff;
  width: 30%;
  border-radius: 7px;
  width: 100px;
  height: 150px;
  float: left;
  margin-left: 10%;
  margin-bottom: 6%;
  text-align: center;
}

.PileCard p{
  font-weight: bold;
  margin: auto;
  margin-top: 50%;
  font-size: 14pt;
}

.HandHolder{
  clear: left;
  text-align: center;
}

.HandHolder h3{
  margin-top: .5%;
  margin-bottom: .5%;
}

.Hand{
  background-color: #837C76;
  padding: 1%;
  overflow: auto;
  width: 75%;
  margin-left: 10%;
  margin-right: 50%;
  text-align: center;
}

.HandCard{
  background-color: #b3e6ff;
  width: 100px;
  height: 150px;
  float: left;
  margin: 6px;
  border-radius: 7px;
  text-align: center;
}

.HandCard p{
  font-weight: bold;
  margin: auto;
  margin-top: 50%;
  font-size: 14pt;
}

.SelectedHandCard{
  background-color: rgba(255, 105, 180, .6);
  width: 100px;
  height: 150px;
  float: left;
  margin: 6px;
  border-radius: 7px;
  text-align: center;
}

.SelectedHandCard p{
  font-weight: bold;
  margin: auto;
  margin-top: 50%;
  font-size: 14pt;
}

.HiddenHandCard{
  display: none;
}

.MakeMove{
  padding:1%;
  padding-top: .5%;
  padding-bottom: .5%;
  background-color: rgba(255, 105, 180, .6);
  text-align: center;
  font-size: 14pt;
  width: 60%;
  margin-left: 20%;
  clear: both;
}

.MakeMove button{
  font-size: 12pt;
  border-radius: 7px;
  margin-bottom: .3%;
}

.HideMakeMove{
  display: none;
}

.BadMove{
  padding:1%;
  background-color: rgba(255, 105, 180, .6);
  text-align: center;
  font-size: 14pt;
  width: 60%;
  margin-left: 20%;
  clear: both;
}

.HideBadMove{
  display: none;
}

.EndTurn{
  padding:1%;
  background-color: rgba(255, 105, 180, .6);
  text-align: center;
  font-size: 14pt;
  width: 60%;
  margin-left: 20%;
  clear: both;
  margin-top: .5%;
}

.EndTurn button{
  font-size: 12pt;
  border-radius: 7px;
  margin: 0%;
}

.HideEndTurn{
  display: none;
}

.GameOver{
  padding: 2%;
  background-color: rgba(255, 105, 180, .6);
  text-align: center;
  margin-bottom: 2%;
}

.HideGameOver{
  display: none;
}

.NavBar{
  text-align: center;
  background-color: #837C76;
  padding-bottom: 1%;
}

.NavBar h1{
  margin-top: 0%;
  margin-bottom: .5%;
}

.NavBar a{
  width: 23%;
  margin: 1%;
  color:  #b3e6ff;
  text-decoration: none;
}

/* mouse over link */
.NavBar a:hover {
  color: hotpink;
  text-decoration: none;
}

.Root{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding: 2%;
  background-color: #BBB6B2;
  opacity: .8;
}

.Root a{
  color:  #58639B;
  text-decoration: none;
  font-weight: bold;
}

.Root p{
  width: 90%;
  margin-left: 5%;
  font-weight: bold;
}

.Root p.about{
  width: 90%;
  margin-left: 5%;
}

.NewGame{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding: 2%;
  background-color: #BBB6B2;
  opacity: .8;
  font-size: 14pt;
}

.Rules{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding: 2%;
  background-color: #BBB6B2;
  opacity: .8;
}

.Games{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding: 2%;
  background-color: #BBB6B2;
  opacity: .8;
}

.Games a{
  color:  black;
  text-decoration: none;
  font-weight: bold;
}

.Games a:hover {
  color: hotpink;
  text-decoration: none;
}

.Games h1{
  margin-left: 10%;
  margin-right: 10%;
}

.Games ul{
  margin-left: 15%;
  margin-right: 15%;
  font-size: 16pt;
}
